.page-coins {
  .list-coin .list-item {
    margin-top: 20px;
    &-link {
      margin-left: 20px;
      color: cornflowerblue;
    }
  }
}

.page-coinview {
  .view-title {
    font-size: 30px;
  }
  .view-description {
    margin-top: 20px;
    width: 800px;
  }
  .view-tab {
    margin-top: 20px;
    .btn-tab {
      margin-left: 10px;
      padding: 5px 20px;
      border: 1px solid blueviolet;
      background: none;
      &:first-child {
        margin-left: 0;
      }
      &.on {
        background: blueviolet;
        color: #fff;
      }
    }
  }
  .list-market {
    margin-top: 30px;
    .list-item {
      margin-top: 10px;
      &-link {
        color: cornflowerblue;
      }
    }
  }
  .list-exchange {
    margin-top: 30px;
    .list-item {
      margin-top: 10px;
      &-title {
        font-weight: bold;
      }
    }
  }
}
